.ui__header{
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.ui__title{
  font-size: 20px;
  color: white;
  white-space: nowrap;
  cursor: pointer;
}

.ui__info{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 8px;
  border: 3px solid white;
  font-size: 20px;
  white-space: nowrap;
  color: white;
  transition: 0.3s ease;
}

.ui__info:hover{
  background:white;
  color: #1e1e1e;
  cursor: pointer;

}

.ui__footer{
  position: absolute;
  z-index: 10;
  bottom: 40px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.ui__networks{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.ui__network{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 4px;
}

.ui__network-icon{
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
}

.ui__network__name{
  font-size: 1rem;
  color: white;
  margin-left: 10px;
}

.ui__network:hover{
  cursor: pointer;
  background: white;
  border-radius: 4px; 
}

.ui__network:hover svg {
  fill: #1e1e1e !important;
}

.ui__network:hover .ui__network__name{
  color: #1e1e1e;
}

