.overlay-modal{
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease;
}

.overlay-modal.active{
  opacity: 1;
  visibility: visible;
}

.overlay-modal-container{
  position: relative;
  display: grid;
  grid-template-rows: 80px 4fr 40px;
  width: 80%;
  height: 80%;
  padding: 20px;
  background-color: #1e1e1e;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}



.overlay-modal-header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.overlay-modal-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px 0;
}

.overlay-modal-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}


.overlay-modal-title{
  font-size: 2em;
  color: white;
  transition: 0.3s ease;
    
}

.overlay-modal-title::after{
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #9d1cc4;
  transition: 0.3s ease;
}


.overlay-modal-image{
  max-width: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition: 0.3s ease;
}

.overlay-modal-description{
  font-size: 1.5em;
  color: white;
  transition: 0.3s ease;
}



@media screen and (max-width: 1000px) {
  .overlay-modal-container{
    width: 80%;
    height: 70%;
    overflow: auto;
  }
  .overlay-modal-content{
    grid-template-columns: 1fr;

  }

}