#landing{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow-y: scroll;
  transition: 1s ease;
}
.loading{
  z-index: 10;
  opacity: 1;
}
.loaded{
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.landing-title{
  font-size: 5em;
  color: white;
  transition: 0.3s ease;
}
.landing-highlight{
  color: #9d1cc4;
}
.landing-subtitle{
  font-size: 3em;
  color: white;
  transition: 0.3s ease;
}

.landing-line{
  width: 100%;
  height: 8px;
  background: #9d1cc4;
  margin: 20px 0;
  transition: 0.3s ease;
}
.landing-description{
  font-size: 1.5em;
  color: white;
  transition: 0.3s ease;
}
.landing-info{
  z-index: 15;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 16px;
  border: 4px solid white;
  font-size: 3em;
  color: white;
  transition: 0.3s ease;
}
.landing-info:hover{
  background:white;
  color: #1e1e1e;
  cursor: pointer;
}

